.profile {
  display: flex;
  border-bottom: 0;
}

.profile .profile-image img {
  height: 150px;
}

.profile .profile-description {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.profile .profile-description .profile-left {
  width: 70%;
}

.profile .profile-description .profile-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.count {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
